<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.idleplatform.chat.dao.ChatDao">

    <insert id="addChat" parameterType="com.platform.idleplatform.chat.entity.ChatInfo">
        insert into
            t_chat
        values (
            #{user1},
            #{user2},
            #{msg},
            #{goodsId},
            now()
        )
    </insert>

    <!--查找聊天列表-->
    <select id="chatList" parameterType="java.lang.String" resultType="com.platform.idleplatform.chat.entity.ChatList">
    SELECT
	*
	FROM
	(
		SELECT
			user1 userId,
			t_chat.goods_id goodsId,
			image_path,
			url indexPath,
			user_name,
			price
		FROM
			t_chat,
			t_user,
			t_image,
			t_goods
		WHERE
			user2 = #{userId}
		AND user1 = t_user.user_id
		AND t_chat.goods_id = t_image.goods_id
		AND t_image.goods_order = 0
		AND t_goods.goods_id = t_chat.goods_id
		UNION ALL
			SELECT
				user2 userId,
				t_chat.goods_id goodsId,
				image_path,
				url indexPath,
				user_name,
				price
			FROM
				t_chat,
				t_user,
				t_image,
				t_goods
			WHERE
				user1 = #{userId}
			AND user2 = t_user.user_id
			AND t_chat.goods_id = t_image.goods_id
			AND t_image.goods_order = 0
			AND t_goods.goods_id = t_chat.goods_id
	) a
	GROUP BY
	userId,
	goodsId,
	image_path,
	indexPath,
	user_name,
	price
    </select>
	
	<!--查找聊天记录-->
	<select id="chatRecard" parameterType="com.platform.idleplatform.chat.entity.ChatInfo" resultType="com.platform.idleplatform.chat.entity.ChatInfo">
	SELECT
	*
	FROM
	t_chat
	WHERE
	(
		user1 = #{user1}
		AND user2 = #{user2}
	)
	OR (
	user1 = #{user2}
	AND user2 = #{user1}
	)
	AND goods_id = #{goodsId}
	ORDER BY chat_time
	</select>
</mapper>