<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.idleplatform.goods.dao.GoodsDao">
    <!--获取商品-->
    <select id="getGoodsList" resultType="com.platform.idleplatform.goods.entity.GoodsInfo">
    SELECT
    t_goods.goods_id goodsId,
	title,
	intro,
	url indexPath,
	price,
	t_goods.user_id,
	image_path,
	user_name
    FROM
	    t_goods,
	    t_image,
	    t_user
    WHERE
	    t_goods.goods_id = t_image.goods_id
    AND goods_order = 0
    AND t_user.user_id = t_goods.user_id
    </select>

    <!--发布商品-->
    <insert id="addGoods" parameterType="com.platform.idleplatform.goods.entity.GoodsInfo">
        insert into
            t_goods
            (
             goods_id,
             title,
             shipping,
             iniPrice,
             price,
             intro,
             is_sell
            )
        values (
            #{goodsId},
            #{title},
            #{shipping},
            #{iniPrice},
            #{price},
            #{intro},
            0
        )
    </insert>

    <!--添加照片-->
    <insert id="addImage" parameterType="com.platform.idleplatform.goods.entity.GoodsInfo">
        <foreach collection="url" item="item" index="index" separator=";">
            insert into
                t_image
                (goods_id,
                url,
                goods_order)
             values
                (
                #{goodsId},
                #{item},
                #{index})
        </foreach>
    </insert>

    <!--获取图片列表-->
    <select id="getImgList" parameterType="java.lang.String" resultType="com.platform.idleplatform.goods.entity.ImgList">
        select
            url
        from
            t_image
        where
            goods_id =#{goodsId}
    </select>

    <!--获取卖出的商品-->
</mapper>